.stars {
   display: inline-flex;
   gap: 2px;

   &__star {
      svg {
         display: block;
         stroke: $bg-red-color;
      }

      &_filled svg {
         fill: $bg-red-color;
      }
   }
}
