.breadcrumbs {
   display: flex;
   flex-wrap: wrap;
   row-gap: 4px;

   a {
      position: relative;
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      color: $txt-light-primary-color;
      text-transform: uppercase;

      &:not(:last-child) {
         margin-right: 32px;

         &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -25px;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background: url("../../images/icons/arrow_right_long.svg") center / contain no-repeat;
         }

         &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0%;
            background-color: $bg-dark-color;
            transition: width 0.2s ease-in-out;
         }
      }

      &:hover {
         &::before {
            width: 100%;
         }
      }

      &:first-child {
         color: $txt-dark-color;
      }

      &:last-child {
         color: $txt-light-color;
         cursor: default;
      }
   }
}
