.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   padding: 12px;
   border-radius: 8px;
   outline: unset;
   border: 2px solid transparent;
   text-transform: uppercase;
   font-size: 0.875rem;
   line-height: 1;

   &:not(:disabled) {
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      svg {
         transition: all 0.2s ease-in-out;
      }
   }

   &:not(.btn-login) {
      font-weight: 700;
   }

   &:disabled {
      background-color: $btn-secondary-disabled-color;
      color: $txt-secondary-color;

      svg {
         fill: $txt-secondary-color;
         stroke: $disabled-color;

         path {
            fill: inherit;
            stroke: inherit;
         }
      }
   }

   svg {
      width: 16px;
      height: 16px;

      path {
         fill: inherit;
         stroke: inherit;
      }
   }
}

.btn-primary {
   @extend .btn;

   color: $txt-secondary-color;
   background-color: $btn-primary-base-color;

   &:not(:disabled) {
      > svg {
         fill: $txt-secondary-color;
         stroke: $btn-primary-base-color;
      }

      &:hover {
         background-color: $btn-primary-hover-color;

         svg {
            stroke: $btn-primary-hover-color;
         }
      }

      &:active {
         background-color: $btn-primary-pressed-color;

         svg {
            stroke: $btn-primary-pressed-color;
         }
      }
   }
}

.btn-secondary {
   @extend .btn;

   background-color: transparent;

   &:not(:disabled) {
      border: 2px solid $txt-blue-color;
      color: $txt-blue-color;

      > svg {
         fill: $txt-blue-color;
         stroke: $txt-secondary-color;
      }

      &:hover {
         background-color: $btn-secondary-hover-color;
         border-color: transparent;
         color: $txt-secondary-color;

         svg {
            fill: $txt-secondary-color;
            stroke: $btn-secondary-hover-color;
         }
      }

      &:active {
         background-color: $btn-secondary-pressed-color;

         svg {
            stroke: $btn-secondary-pressed-color;
         }
      }
   }
}

.btn-login {
   @extend .btn;

   &__primary {
      background-color: $login-btn-base-color;
   }

   &__secondary {
      background-color: $login-btn-secondary-color;
   }

   &:not(:disabled) {
      svg {
         stroke: $txt-primary-color;
      }

      &:hover {
         background-color: $login-btn-hover-color;
      }

      &:active {
         background-color: $login-btn-pressed-color;

         svg {
            stroke: $txt-secondary-color;
         }
      }
   }

   &:disabled {
      svg {
         fill: none;
         stroke: $txt-secondary-color;
      }
   }
}
