// SFProText
@font-face {
   font-family: "SFProText";
   src: url("../../fonts/SF_Pro_Text/SFProText-Medium.woff2") format("woff2"),
      url("../../fonts/SF_Pro_Text/SFProText-Medium.woff") format("woff"),
      url("../../fonts/SF_Pro_Text/SFProText-Black.otf") format("opentype");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "SFProText";
   src: url("../../fonts/SF_Pro_Text/SFProText-Bold.woff2") format("woff2"),
      url("../../fonts/SF_Pro_Text/SFProText-Bold.woff") format("woff"),
      url("../../fonts/SF_Pro_Text/SFProText-Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "SFProText";
   src: url("../../fonts/SF_Pro_Text/SFProText-Black.woff2") format("woff2"),
      url("../../fonts/SF_Pro_Text/SFProText-Black.woff") format("woff"),
      url("../../fonts/SF_Pro_Text/SFProText-Black.otf") format("opentype");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "SFProText";
   src: url("../../fonts/SF_Pro_Text/SFProText-Regular.woff2") format("woff2"),
      url("../../fonts/SF_Pro_Text/SFProText-Regular.woff") format("woff"),
      url("../../fonts/SF_Pro_Text/SFProText-Regular.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "SFProText";
   src: url("../../fonts/SF_Pro_Text/SFProText-Semibold.woff2") format("woff2"),
      url("../../fonts/SF_Pro_Text/SFProText-Semibold.woff") format("woff"),
      url("../../fonts/SF_Pro_Text/SFProText-Semibold.otf") format("opentype");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "SFProText";
   src: url("../../fonts/SF_Pro_Text/SFProText-Light.woff2") format("woff2"),
      url("../../fonts/SF_Pro_Text/SFProText-Light.woff") format("woff"),
      url("../../fonts/SF_Pro_Text/SFProText-Light.otf") format("opentype");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
//

// Montserrat
@font-face {
   font-family: "Montserrat";
   src: url("../../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
      url("../../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
      url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   src: url("../../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
      url("../../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
      url("../../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
      url("../../fonts/Montserrat/Montserrat-Black.woff") format("woff"),
      url("../../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   src: url("../../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
      url("../../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
      url("../../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   src: url("../../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
      url("../../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
      url("../../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
//
