$heading-color: #042a30;
$disabled-color: #d6dcdd;

// Border
$border-gray-color: #d6dcdd;
$border-gray-light-color: #ecf2f3;
$border-red-color: #f1582b;
$border-blue-color: #146b87;
//

// Background
$bg-primary-color: #ffffff;
$bg-dark-color: #292e2f;
$bg-dark-green-color: #042a30;
$bg-gray-color: #f2f5f5;
$bg-orange-color: #ffdfd7;
$bg-red-color: #f1582b;
//

// Text
$txt-primary-color: #292e2f;
$txt-light-primary-color: #697071;
$txt-secondary-color: #fff;
$txt-blue-color: #146b87;
$txt-dark-color: #042a30;
$txt-light-color: #a3a3a3;
$txt-red-color: #f1582b;
$txt-light-gray-color: #a5b1b2;
//

// Checkboxes
$checkbox-base-color: #424849;
$checkbox-checked-color: #146b87;
$checkbox-hover-color: #28a2ca;
$checkbox-disable-color: #d6dcdd;
//

// Items
$item-bg-base-color: #e0ecf0;
$item-bg-hover-color: #28a2ca;
$item-bg-selected-color: #146b87;
//

// Option boxes
$option-box-base-color: #e0ecf0;
$option-box-hover-color: #3fb4d7;
$option-box-selected-color: #146b87;
$option-box-disabled-color: $disabled-color;
//

// Buttons
$btn-primary-base-color: #f1582b;
$btn-primary-hover-color: #cd380c;
$btn-primary-pressed-color: #a92f0b;
$btn-primary-disabled-color: $disabled-color;

$btn-secondary-base-color: #146b87;
$btn-secondary-hover-color: #28a2ca;
$btn-secondary-pressed-color: #146b87;
$btn-secondary-disabled-color: $disabled-color;

$login-btn-base-color: #f2f5f5;
$login-btn-secondary-color: #fff;
$login-btn-hover-color: #abecff;
$login-btn-pressed-color: #146b87;
$login-btn-disabled-color: $disabled-color;
//

// Shopping cards
$shoping-card-base-color: #ffdfd7;
$shoping-card-hover-color: #f1582b;
$shoping-card-pressed-color: #a92f0b;
$shoping-card-disabled-color: $disabled-color;
//

// Inputs
$input-base-border-color: #d6dcdd;
$input-base-color: #f2f5f5;
$input-hover-border-color: #146b87;
$input-hover-color: #f2f5f5;
$input-focus-border-color: #697071;
$input-focus-color: #fafafa;
$input-disabled-color: $disabled-color;
//

// Links
$link-base-color: #042a30;
$link-hover-color: #f1582b;
$link-pressed-color: #cd380c;
$link-disabled-color: #a5b1b2;
//

//// Button login
//$login-btn-hover-color: #abecff;
//$login-btn-pressed-color: #146b87;
//$login-btn-hover-color: #f1582b;
//$login-btn-active-color: #146b87;
////
